<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue3 Test</title>
  <link rel="icon" href="data:;base64,=">
  <link href="./fontawesome/css/fontawesome.min.css" rel="stylesheet" />
  <link href="./fontawesome/css/regular.min.css" rel="stylesheet" />
</head>
<body>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

  <div id="app">
      <h1>Hallo, {{name}}! <i class="fa-regular fa-house"></i></h1>
      <div v-if="workers.length === 0">No workers available.</div>
      <div v-else>
        <div style="margin-bottom: 10px;">
          <i class="fa-regular fa-lightbulb"></i><input v-model="searchString" placeholder="Suche" />
        </div>
        <table>
          <thead>
            <th @click="setSortColumn('name')">Name <i class="fa-regular" :class="classObjectName"></i></th>
            <th @click="setSortColumn('position')">Position <i class="fa-regular" :class="classObjectPosition"></i></th>
            <th @click="setSortColumn('office')">Office <i class="fa-regular" :class="classObjectOffice"></i></th>
            <th @click="setSortColumn('age')">Age <i class="fa-regular" :class="classObjectAge"></i></th>
          </thead>
          <tbody>
              <tr v-for="(worker, index) in filteredWorkers" :key="index">
                  <td>{{worker.name}}</td>
                  <td>{{worker.position}}</td>
                  <td>{{worker.office}}</td>
                  <td>{{worker.age}}</td>
              </tr>
          </tbody>
        </table>
      </div>  
  </div>


  <script type="module">
    import { createApp} from 'vue'; //using import map

      createApp({
        data() {
          return {
            name: 'Nivethan',
            workers: [],
            searchString: "",
            sortColumn: "",
            order: "ASC",
            isNameSortedAsc: false,
            isNameSortedDesc: false,
            isPositionSortedAsc: false,
            isPositionSortedDesc: false,
            isOfficeSortedAsc: false,
            isOfficeSortedDesc: false,
            isAgeSortedAsc: false,
            isAgeSortedDesc: false       
          }
        },
        methods: {
          async getWorkers() {
              const workers = [
                  { name: "Airi Satou", position: "Accountant", office: "Tokyo", age: 33},
                  { name: "Angelica Ramos", position: "Chief Executive Officer (CEO)", office: "London", age: 47 },
                  { name: "Cedric Kelly", position: "Senior Javascript Developer", office: "Edinburgh", age: 22 },
                  { name: "Jennifer Chang", position: "Regional Director", office: "Singapore", age: 28 },
              ];

              //make it async to simulate fetching data
              Promise.resolve(workers).then(resolvedWorkers => {
                  this.workers = resolvedWorkers;
              });
          },
          setSortColumn(column) {
              if (this.sortColumn === column) {
                  this.order = this.order === "ASC" ? "DESC" : "ASC";
              } else {
                  this.order = "ASC";
                  this.sortColumn = column;
              }

              this.isNameSortedAsc = column === "name" && this.order === "ASC";
              this.isNameSortedDesc = column === "name" && this.order === "DESC";
              this.isPositionSortedAsc = column === "position" && this.order === "ASC";
              this.isPositionSortedDesc = column === "position" && this.order === "DESC";
              this.isOfficeSortedAsc = column === "office" && this.order === "ASC";
              this.isOfficeSortedDesc = column === "office" && this.order === "DESC";
              this.isAgeSortedAsc = column === "age" && this.order === "ASC";
              this.isAgeSortedDesc = column === "age" && this.order === "DESC";
          }
        },
        computed: {
            filteredWorkers() {
                const filteredWorkers = this.searchString === ""
                    ? this.workers
                    : this.workers.filter(wo => Object.values(wo).join("").toLowerCase().indexOf(this.searchString.toLowerCase()) !== -1);

                const column = this.sortColumn
                const order = this.order;

                filteredWorkers.sort(function(a, b) {
                    var nameA = a[column]+"".toUpperCase();
                    var nameB = b[column]+"".toUpperCase();
                    if (order === "DESC" && nameA > nameB) {
                        return -1;
                    }
                    if (order === "DESC" && nameA < nameB) {
                        return 1;
                    }
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                    return 0;
                });

                return filteredWorkers;
            },
            classObjectName: function() {
                return {
                    'fa-circle-up': this.isNameSortedAsc,
                    'fa-circle-down': this.isNameSortedDesc,
                    'fa-circle': !this.isNameSortedAsc && !this.isNameSortedDesc
                }
            },
            classObjectPosition: function() {
                return {
                    'fa-circle-up': this.isPositionSortedAsc,
                    'fa-circle-down': this.isPositionSortedDesc,
                    'fa-circle': !this.isPositionSortedAsc && !this.isPositionSortedDesc
                }
            },
            classObjectOffice: function() {
                return {
                    'fa-circle-up': this.isOfficeSortedAsc,
                    'fa-circle-down': this.isOfficeSortedDesc,
                    'fa-circle': !this.isOfficeSortedAsc && !this.isOfficeSortedDesc
                }
            },
            classObjectAge: function() {
                return {
                    'fa-circle-up': this.isAgeSortedAsc,
                    'fa-circle-down': this.isAgeSortedDesc,
                    'fa-circle': !this.isAgeSortedAsc && !this.isAgeSortedDesc
                }
            },                                    
        },
        mounted() {
            this.getWorkers();
        }        
      }).mount('#app')
  </script>
  <footer>
    <p>based on <a href="https://dev.to/krowemoh/a-vue3-tutorial-01-using-vue-without-a-build-step-2kkm">this tutorial</a></p>
  </footer>
</body>
</html>
